nav {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 70px;
  background-color: rgb(219, 237, 252);
  -webkit-box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
  -moz-box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
  box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 30px;
  margin: 10px;
  color: rgb(167, 138, 10);
  text-shadow: 6px 5px 6px rgba(54, 109, 175, 1);
  font-family: "Rubik Vinyl", cursive;
}

a {
  color: rgba(2, 42, 83, 0.905);
  text-decoration: none;
  font-size: small;
}

button {
  padding: 5px;
  height: 60px;
  border: 1px solid rgba(7, 50, 93, 0.058);
  border-radius: 20px;
  background-color: rgba(251, 226, 31, 0.621);
  -webkit-box-shadow: 0px 0px 100px 13px rgba(222, 176, 90, 1);
  -moz-box-shadow: 0px 0px 100px 13px rgba(222, 176, 90, 1);
  box-shadow: 0px 0px 100px 13px rgba(222, 176, 90, 1);
}

button:hover {
  background-color: rgb(251, 225, 31);
}

.homeBtn {
  grid-area: 1 / 3 / 2 / 4;
  margin: 0.5rem 1rem 0.5rem 0;
}

.catalogueBtn {
  grid-area: 1 / 4 / 2 / 5;
  margin: 0.5rem 0 0.5rem 1rem;
}

.addBtn {
  grid-area: 1 / 9 / 2 / 10;
  margin: 0.5rem 0 0.5rem 1rem;
}
.cartBtn {
  grid-area: 1 / 10 / 2 / 11;
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.historyBtn {
  grid-area: 1 / 11 / 2 / 12;
  margin: 0.5rem 1rem 0.5rem 0;
}
.logBtn {
  grid-area: 1 / 12 / 2 / 14;
  /* padding: 5px; */
  margin: 0.5rem 0rem 0.5rem 2rem;
  /* border-left: 1px solid grey;
  width: fit-content;
  display: flex;
  justify-content: space-between; */
}
