.trip {
  font-family: "Signika Negative", sans-serif;
  background-color: rgb(242, 242, 183);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid rgb(207, 231, 253);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
  -moz-box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
  box-shadow: 0px 0px 30px -9px rgb(157, 215, 253);
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #666;
}

h2 {
  font-family: "Rubik Vinyl", cursive;
}

h4,
h5 {
  margin: 10px;
}

.trip:hover {
  box-shadow: 0 2px 3px #666;
}

.trip img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.trip p {
  text-align: center;
}

/* supposed to be green, but didnt fit style */
.highest {
  -webkit-box-shadow: 0px 0px 30px -9px rgb(253, 231, 157);
  -moz-box-shadow: 0px 0px 30px -9px rgb(253, 231, 157);
  box-shadow: 0px 0px 30px -9px rgb(253, 231, 157);
  border: 2px solid rgb(252, 216, 96);
}
/* supposed to be red, but didnt fit style */
.lowest {
  -webkit-box-shadow: 0px 0px 30px -9px rgb(138, 253, 211);
  -moz-box-shadow: 0px 0px 30px -9px rgb(138, 253, 211);
  box-shadow: 0px 0px 30px -9px rgb(138, 253, 211);
  border: 2px solid rgb(186, 251, 227);
}

button {
  margin: 10px;
  background-color: rgb(199, 226, 250);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(111, 111, 112);
}
.button-container {
  display: flex;
}

.reserve-btn,
.cancel-btn {
  height: 30px;
  width: 30px;
  display: flex;
  text-align: center;
  border-radius: 50%;
}

.zero {
  color: rgb(180, 180, 180);
}

.little {
  color: rgb(251, 122, 122);
}

.disablebtn {
  display: none;
}
