body {
  display: flex;
  justify-content: space-around;
}

#form-section {
  position: relative;
  left: 40%;
  max-width: 400px;
  margin-top: 5%;
}
.header {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.form {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

.rpasspart,
.ulogin {
  margin: 30px;
  position: relative;
}

.rpasspart label,
.ulogin label {
  display: inline-block;
  font-size: large;
}

.rpasspart input,
.ulogin input {
  display: block;
  padding: 6px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid lightgrey;
}

input:focus {
  outline: none !important;
  border-color: yellowgreen;
}

.requirements {
  margin: 30px;
  font-size: large;
}

.requirements span {
  width: 1em;
  height: 1em;
}

.requirements i {
  position: absolute;
  margin-right: 40px;
}

.requirements p {
  font-size: medium;
}

.ulogin i,
.rpasspart i {
  position: absolute;
  right: 10px;
  top: 35px;
}

.error-msg {
  visibility: hidden;
  font-size: small;
}

.error-msg.error {
  visibility: visible;
  color: orange;
  font-size: small;
}

.error-msg.success {
  visibility: visible;
  color: greenyellow;
  font-size: small;
}

.submitBtn {
  position: relative;
  padding: 5px;
  margin: 0px 10px 10px 0px;
  left: 40%;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: rgba(251, 226, 31, 0.621);
}

.submitBtn:hover {
  background-color: rgba(251, 226, 31, 1);
}

.forgot {
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.newAccount {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid gray;
  padding-top: 20px;
}
